body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9ecef
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 768px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}

.todo-container .todo-header {
  border-bottom: 1px solid #e9ecef;
  padding: 40px 30px;
  padding-bottom: 0;
}

.todo-header h1 {
  margin: 0;
  font-size: 36px;
  color: #343a40;
}

.todo-header .day {
  margin-top: 4px;
  color: #868e96;
  font-size: 21px;
  font-weight: 300;
}

.todo-header h3 {
  color: #20c997;
  font-size: 18px;
  margin-top: 40px;
}

.todo-container .todo-content {
  overflow-y: auto;
  padding: 40px 30px;
  flex: 1;
}

.todo-content .todo-item {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  color: #495057;
}

.todo-item input[type=checkbox] {
  margin-right: 20px;
}

.todo-item input[type=button] {
  all: unset;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
}

.todo-container footer {
  background: #f8f9fa;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #e9ecef;
  padding-top: 30px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.todo-container footer input[type=text] {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 80%;
  outline: none;
  font-size: 18px;
  margin-bottom: 30px;
}

.todo-container footer input[type=button] {
  all: unset; /* 모든 설정 없애기! */
  display: flex;
  width: 60px;
  height: 60px;
  margin-bottom: -25px;
  background: #38d9a9;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}

.done {
  text-decoration-line: line-through;
}